# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caching files
.cache

# Virtual environment
venv/
*.venv

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# VSCode
.vscode/
